.service-container
{
    padding: 20px;
    width: 45%;
    height: 100%;
    margin:auto;
    
}

.category
{
    font-family: 'Lucida Sans';
    color:#249c3a;
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;

}

.title
{
    font-family: Arial;
    font-weight: bold;
    font-size:14px;
    text-align: left;

    
}

.description
{
    font-family: 'Arial Narrow';
    text-align: justify;
    font-size: 13px;
}

